h1, h1 a {
    font-size: 1.5rem;
}

h1 a:visited {
    color: rgb(0, 0, 238)
}

a {
    text-decoration: none;
    font-size: 1rem;
}

a:hover {
    font-weight: 600;
}

ul li {
    list-style-type: none;
    line-height: 2.5rem;
}